/**
 * Configure Tailwind v4 in this file using CSS variables and directives:
 * https://tailwindcss.com/blog/tailwindcss-v4-alpha#css-first-configuration 
 */

@import 'tailwindcss';

@theme {
  --color-primary: oklch(45.22% 0.0649 50.39);
  --color-secondary: oklch(87.79% 0.0535 77.23);
  --color-dark-bg: oklchoklch(79.74% 0.0543 72.5);
}

@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');

.font-modak {
  font-family: 'Modak', serif;
  font-weight: 400;
  font-style: normal;
}

/* .bg-secondary {
  background-color: #ebd3b0;
}

.text-primary {
  color: #734b34;
} */
